.movies-raking {
  width: 80vw;
  margin: 0 auto;

  .title {
    font-size: 24px;
    color: #386071;
    font-weight: normal;
    margin-top: 24px;
    margin-bottom: 32px;
  }

  app-filters + app-table {
    display: block;
    margin-top: 46px;
  }
}
